<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Show Person</h1>
<p th:text="${person.getId()}"></p>
<p th:text="${person.getName()}"></p>
<p th:text="${person.getAge()}"></p>
<p th:text="${person.getEmail()}"></p>
<p th:text="${person.getGender()}"></p>

<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>
<br>
<form th:method="DELETE" th:action="@{/people/{id} (id=${person.getId()})}">
    <input type="submit" value="Delete">
</form>
<a href="javascript:history.back()">Back</a>
</body>
</html>